$typography-map: (
  button: (
    mobile: (
      font-size: 16px,
      font-weight: 400,
    ),
  ),

  city: (
    mobile: (
      font-size: 22px,
      font-weight: 700,
    ),
  ),

  text: (
    mobile: (
      font-size: 14px,
      font-weight: 400,
    ),
  ),

  temperature: (
    mobile: (
      font-size: 60px,
      font-weight: 700,
    ),
  ),

  textAccent: (
    mobile: (
      font-size: 14px,
      font-weight: 700,
    ),
  ),
);
