@use "@styles/index" as *;

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $C_LOADING;
  -webkit-backdrop-filter: blur($BLUR);
  backdrop-filter: blur($BLUR);
  @include flex();
  z-index: 1000;

  .loading {
    @include flex($direction: column, $gap: 20px);
  }

  .text {
    color: $C_TEXT;
    @include typography("city");
    text-transform: uppercase;
  }

  .loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: $C_BTN_ACTIVE;
    -webkit-mask: repeating-linear-gradient(#000 0 5px, #0000 0 10px);
    animation: l35 1.5s infinite;
  }
  .loader:after {
    -webkit-mask: repeating-linear-gradient(#0000 0 5px, #000 0 10px);
    --s: -1;
  }
  @keyframes l35 {
    0%,
    10% {
      transform: translate(0) rotate(0);
    }
    35% {
      transform: translate(calc(var(--s, 1) * 50%)) rotate(0);
    }
    66% {
      transform: translate(calc(var(--s, 1) * 50%))
        rotate(calc(var(--s, 1) * 180deg));
    }
    90%,
    100% {
      transform: translate(0) rotate(calc(var(--s, 1) * 180deg));
    }
  }
}
